/*** layout styles ***/

body {
    background-color: #CCCCCC;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1200px;
}

.container > * {
    margin: 10px 0;
}

.container > :first-child {
    margin-top: 0;
}

.container > :last-child {
    margin-bottom: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > * {
    background-color: #FFFFAA;
    margin: 0 10px;
}

.row > :first-child {
    margin-left: 0;
}

.row > :last-child {
    margin-right: 0;
}

.one-third {
    width: 33.3333%;
}

.two-thirds {
    width: 66.6666%;
}

.one-fourth {
    width: 25%;
}

.one-half {
    width: 50%;
}

.three-fourths{
    width: 75%;
}

.full {
    width: 100%;
}