/*** layout styles ***/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row > * {
    /* The border is just to visualize columns during layout. Remove in finished site. */
    border: 1px solid #BBBBBB;

    padding: 15px;
}

.one-sixth {
    width: 16.666666%;
}

.one-fifth {
    width: 20%;
}

.one-fourth {
    width: 25%;
}

.one-third {
    width: 33.333333%;
}

.two-fifths {
    width: 40%;
}

.one-half {
    width: 50%;
}

.two-thirds {
    width: 66.666666%;
}

.three-fifths {
    width: 60%;
}

.three-fourths {
    width: 75%;
}

.four-fifths {
    width: 80%;
}

.five-sixths {
    width: 83.333333%
}

.full {
    width: 100%;
}


@media (max-width: 600px)
{
    .one-third,
    .two-thirds,
    .one-fourth,
    .one-half,
    .three-fourths,
    .full {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        width: auto;
    }   

}
