/*** layout styles ***/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    
    /* technique from https://css-tricks.com/box-sizing/ */
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row > * {
    /* The border is just to visualize columns during layout. Remove in finished site. */
    border: 1px solid #BBBBBB;

    padding: 15px;
    position: relative;
}

.one-sixth {
    width: 16.666666%;
}

.one-fifth {
    width: 20%;
}

.one-fourth {
    width: 25%;
}

.one-third {
    width: 33.333333%;
}

.two-fifths {
    width: 40%;
}

.one-half {
    width: 50%;
}

.two-thirds {
    width: 66.666666%;
}

.three-fifths {
    width: 60%;
}

.three-fourths {
    width: 75%;
}

.four-fifths {
    width: 80%;
}

.five-sixths {
    width: 83.333333%
}

.full {
    width: 100%;
}


/* navbar styles */

.navbar {
    background-color: #BBBBBB;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    border-right: 1px solid #777777;
}

.navbar li:last-child {
    border: none;
}

.navbar a:link, .navbar a:visited {
    display: block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover, .navbar a:active {
    background-color: #777777;
}


/* other helper classes */

.right {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.left {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.center {
    display: block;
    margin: 0 auto;
}

.upper-left,
.upper-right,
.lower-right,
.lower-left {
    position: absolute;
    margin: 0;
}

.upper-left {
    top: 15px;
    left: 15px;
}

.upper-right {
    top: 15px;
    right: 15px;
}

.lower-right {
    bottom: 15px;
    right: 15px;
}

.lower-left {
    bottom: 15px;
    left: 15px;
}


/* media queries */ 

@media screen and (max-width: 600px)
{

    .one-sixth,
    .one-fifth,
    .one-fourth,
    .one-third,
    .two-fifths,
    .one-half,
    .three-fifths,
    .two-thirds,
    .four-fifths,
    .five-sixths,
    .full {
        padding: 10px;
        width: 100%;
    } 

    .hide-mobile {
        display: none;
    }
    
    .static-mobile {
        position: static;
    }
}

@media (min-width: 601px)
{
    .hide-desktop {
        display: none;
    }
    
    .static-desktop {
        position: static;
    }
}
