/*** layout styles ***/

body {
    background-color: #EEEEEE;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFAAAA;
}

nav {
    background-color: #AAFFAA;
}

footer {
    background-color: #AAAAFF;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {

}

.one-third {
    background-color: #FFFFAA;
    width: 33.3333%;
}

.two-thirds {
    background-color: #FFAAFF;
    width: 66.6666%;
}

.full {
    background-color: #AAFFFF;
    width: 100%;
}


/*** header styles ***/

h1.site-name {
    margin: 0;
}


/*** nav styles ***/
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    border-right: 1px solid #777777;
}

nav a:link, nav a:visited {
    display: block;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
}

nav a:hover, nav a:active {
    background-color: #555555;
    color: #FFFFFF;
}