body {
    background-color: #EEEEEE;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFAAAA;
}

nav {
    background-color: #AAFFAA;
}

footer {
    background-color: #AAAAFF;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {

}

.one-third {
    background-color: #FFFFAA;
    width: 33.3333%;
}

.two-thirds {
    background-color: #FFAAFF;
    width: 66.6666%;
}

.full {
    background-color: #AAFFFF;
    width: 100%;
}

h1.site-name {
    margin: 0;
}

nav ul {
    margin: 0;
}