header {
  background-color: #d8dde2;
}

main {
    padding: 1.2rem 0;
    margin-bottom: 1.2rem;
}

footer {
  border-top: 2px solid #d8dde2;
  font-size: 0.95rem;
  padding: 0.6rem 0 1.2rem 0;
}

footer a:link,
footer a:visited {
  color: #555;
  font-weight: bolder;
  text-decoration: none;
}

footer a:active,
footer a:hover {
  text-decoration: underline;
}

h1 {
  text-transform: capitalize;
}

ul.inline {
  margin: 0;
  padding: 0;
}

ul.inline li {
  display: inline-block;
  margin-right: 0.8rem;
}

footer p {
  margin: 0.6rem 0 0 0;
}

/* for marking odin classes in docs */
.important {
  color: #b00;
}

.demo-content {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #5be;
  padding: 0.6rem;
}

.positioned-demo-content {
  text-align: center;
  padding: 0.6rem;
  background-color: #ccc;
}

table h1,
table h2,
table h3,
table h4,
table h5,
table h6 {
  margin: 0;
}

pre {
    background-color: #f2f2f2;
    border: none;
    border-radius: 7px;
    margin: 1.0rem 0;
    overflow-x: auto;
    padding: 0 15px;
    width: 100%;
}

pre code {
  font-size: 0.9rem;
}
