.icon--github {
  height: 20px;
}

.container-xl {
 padding-bottom: 2.4rem;
}

.download-buttons {
  margin: 2.4rem 0;
}

.demo-content {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #5be;
  padding: 1.2rem;
}

.positioned-demo-content {
  text-align: center;
  padding: 1.2rem;
  background-color: #ccc;
}

code {
  color: #666;
}

.highlight {
  color: #c00;
}

.button {
  border: 1px solid #777;
  background-color: #ccc;
  padding: 0.6rem;
  text-align: center;
}

a:link.button, a:visited.button {
  border-radius: 3px;
  color: #333;
  text-decoration: none;
}

a:hover.button, a:active.button {
  background-color: #999;
}

table h1,
table h2,
table h3,
table h4,
table h5,
table h6 {
  margin: 0;
}

.toc {
  margin: 1rem;
}
