---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Typography
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Grid
$spacing-unit:     30px;


// Colors
$brand-color:      #2a7ae2;
$accent-color:     #ABC;

$text-color:       #111;
$background-color: #fdfdfd;

$black:            #000;
$white:            #FFF;

$gray-base:        #678;
$gray-light:       lighten($gray-base, 20%);
$gray-very-light:  lighten($gray-base, 40%);
$gray-dark:        darken($gray-base, 20%);
$gray-very-dark:   darken($gray-base, 40%);

// Responsive breakpoints
$sm-min-width:    480px;
$md-min-width:    720px;
$lg-min-width:    960px;
$xl-min-width:    1200px;


// The rest of the variables are calculated based on values above.
//  You shouldn't need to edit below this line.
$xs-max-width:    $sm-min-width - 1;
$sm-max-width:    $md-min-width - 1;
$md-max-width:    $lg-min-width - 1;
$lg-max-width:    $xl-min-width - 1;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "resets",
  "typography",
  "containers",
  "grid",
  "responsive",
  "helpers",
  "images",
  "tables",
  "forms",
  "navbar",
  "positioning"
;
