/* ==========================================================================
   Slick Carousel

   Version: 1.8.0
   Author: Ken Wheeler
   Source: http://github.com/kenwheeler/slick
   ========================================================================== */

/* Slider */
.slick-slider
{
    box-sizing: border-box;
    display: block;
    user-select: none;
    position: relative;
    touch-action: pan-y;
}

.slick-list
{
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

.slick-list:focus
{
    outline: none;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
}

.slick-track:before,
.slick-track:after
{
   display: table;

   content: '';
}
.slick-track:after
{
   clear: both;
}
.slick-loading .slick-track
{
   visibility: hidden;
}

.slick-slide
{
   display: none;
   float: left;

   height: 100%;
   min-height: 1px;
}
[dir='rtl'] .slick-slide
{
   float: right;
}
.slick-slide img
{
   display: block;
}
.slick-slide.slick-loading img
{
   display: none;
}
.slick-slide.dragging img
{
   pointer-events: none;
}
.slick-initialized .slick-slide
{
   display: block;
}
.slick-loading .slick-slide
{
   visibility: hidden;
}
.slick-vertical .slick-slide
{
   display: block;

   height: auto;

   border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
   display: none;
}

/* Custom overrides to put gaps between slides */
.slick-slider {

}

.slick-list {
    margin-left: -7px;
    margin-right: -8px;
}

.slick-slide {
  margin-left: 7px;
  margin-right: 8px;
}
