/* form styles */
.form-basic input,
.form-basic select,
.form-basic textarea,
.form-basic button {
  background-color: #fff;
  border: 1px solid #bbb;
  color: #333;
  display: inline-block;
  margin: 0.3rem 0;
  padding: 0.2rem;
  vertical-align: middle;
}

.form-basic input[type="checkbox"],
.form-basic input[type="radio"] {
  background-color: transparent;
  margin: 0.3rem 0.3rem 0.3rem 0;
  padding: 0;
}

.form-basic textarea {
  min-height: 6.0rem;
  resize: vertical;
  vertical-align: top;
}

.form-basic input:focus,
.form-basic select:focus,
.form-basic textarea:focus,
.form-basic button:focus,
.form-basic input[type="button"]:focus,
.form-basic input[type="submit"]:focus {
  box-shadow: 0 0 6px #999;
  outline: 0;
}

.form-basic input[type="radio"]:focus,
.form-basic input[type="checkbox"]:focus {
  /* neat idea to implement later: http://www.hongkiat.com/blog/css3-checkbox-radio/ */
  outline: 1px solid #bbb;
}

.form-basic input[disabled],
.form-basic select[disabled],
.form-basic textarea[disabled] {
  cursor: not-allowed;
  background-color: #888;
}

.form-basic input[readonly],
.form-basic select[readonly],
.form-basic textarea[readonly] {
  cursor: not-allowed;
  background-color: #888;
}

.form-basic input:focus:invalid,
.form-basic textarea:focus:invalid,
.form-basic select:focus:invalid {
  border-color: #a00;
  color: #a00;
}

.form-basic input[type="file"]:focus:invalid:focus {
    outline-color: #a00;
}

.form-basic button,
.form-basic input[type="button"],
.form-basic input[type="submit"] {
  background-color: #ddd;
  display: inline-block;
  outline: none;
  padding: 0.4rem;
}

.form-basic label {
  margin: 0.3rem 0.3rem 0.3rem 0;
}

.form-basic fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-basic legend {
  border-bottom: 1px solid #aaa;
  color: #555;
  display: block;
  font-weight: bold;
  padding: 0.4em 0;
  margin-bottom: 0.4em;
  width: 100%;
}

.form-basic button:active,
.form-basic input[type="button"]:active,
.form-basic input[type="submit"]:active {
  background-color: #ccc;
}

.form-wide input,
.form-wide select,
.form-wide textarea,
.form-wide label {
  display: block;
  width: 100%;
}

.form-wide input[type="checkbox"],
.form-wide input[type="radio"] {
  width: auto;
}

.form-stack input,
.form-stack select,
.form-stack textarea,
.form-stack label {
  display: block;
}

.form-stack input[type="checkbox"],
.form-stack input[type="radio"] {
  display: inline-block;
}

.form-stack input,
.form-stack select,
.form-stack textarea {
  margin-bottom: 0.8rem;
}

.form-hint {
  color: #999;
  font-size: 0.9rem;
  font-style: italic;
}
