/* responsive features */
img,
iframe,
video {
  max-width: 100%;
}

/* responsive helper classes */

@media (max-width: $xs-max-width) {
  .hide-xs-down {
    display: none;
  }
}

@media (max-width: $sm-max-width) {
  .hide-sm-down {
    display: none;
  }
}

@media (max-width: $md-max-width) {
  .hide-md-down {
    display: none;
  }
}

@media (min-width: $sm-min-width) {
  .hide-sm-up {
    display: none;
  }
}

@media (min-width: $md-min-width) {
  .hide-md-up {
    display: none;
  }
}

@media (min-width: $lg-min-width) {
  .hide-lg-up {
    display: none;
  }
}
