/* ==========================================================================
   Responsive Utilities
   ========================================================================== */

/**
 * Images, iframes, and video elements are responsive by default.
 *
 * TODO: Write classes that constrain responsive video and iframes to a fixed
 *       aspect ratio.
 */
img,
iframe,
video {
  max-width: 100%;
}

/**
 * Hide content based on viewport
 *
 * The .hidden-*-down classes hide the element when the viewport is at the given
 * breakpoint or smaller. For example, .hidden-sm-down hides an element on small,
 * and extra-small viewports.
 *
 * The .hidden-*-up classes hide the element when the viewport is at the given
 * breakpoint or wider.
 */
@media (max-width: $xs-max-width) {
  .hide-xs-down {
    display: none;
  }
}

@media (max-width: $sm-max-width) {
  .hide-sm-down {
    display: none;
  }
}

@media (max-width: $md-max-width) {
  .hide-md-down {
    display: none;
  }
}

@media (max-width: $lg-max-width) {
  .hidelg-down {
    display: none;
  }
}

@media (min-width: $sm-min-width) {
  .hide-sm-up {
    display: none;
  }
}

@media (min-width: $md-min-width) {
  .hide-md-up {
    display: none;
  }
}

@media (min-width: $lg-min-width) {
  .hide-lg-up {
    display: none;
  }
}

@media (min-width: $xl-min-width) {
  .hide-xl-up {
    display: none;
  }
}
