/* resets */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;

    /* technique from https://css-tricks.com/box-sizing/ */
}


/* container styles */

.container-sm,
.container-md,
.container-lg,
.container-xl {
  margin: 0 auto;
  padding: 0 0.7rem;
}

.container-sm {
  max-width: 480px;
}

.container-md {
  max-width: 720px;
}

.container-lg {
  max-width: 960px;
}

.container-xl {
  max-width: 1200px;
}


/* grid styles */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row > *
{
  padding: 0.6rem;
  position: relative;
  width: 100%;
}

.row.gutter-default > * {
  padding: 0.6rem;
}

.row.gutter-double > * {
  padding: 1.2rem;
}

.row.gutter-none > * {
  padding: 0;
}

.col-xs-1 { width: 8.333333%; }
.col-xs-2 { width: 16.666666%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.333333%; }
.col-xs-5 { width: 41.666666%; }
.col-xs-6 { width: 50%; }
.col-xs-7 { width: 58.333333%; }
.col-xs-8 { width: 66.666666%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.333333%; }
.col-xs-11 { width: 91.666666%; }
.col-xs-12 { width: 100%; }

@media (min-width: 480px) {
  .col-sm-1 { width: 8.333333%; }
  .col-sm-2 { width: 16.666666%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.333333%; }
  .col-sm-5 { width: 41.666666%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.333333%; }
  .col-sm-8 { width: 66.666666%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.333333%; }
  .col-sm-11 { width: 91.666666%; }
  .col-sm-12 { width: 100%; }
}

@media (min-width: 720px) {
  .col-md-1 { width: 8.333333%; }
  .col-md-2 { width: 16.666666%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.333333%; }
  .col-md-5 { width: 41.666666%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.333333%; }
  .col-md-8 { width: 66.666666%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.333333%; }
  .col-md-11 { width: 91.666666%; }
  .col-md-12 { width: 100%; }
}

@media (min-width: 960px) {
  .col-lg-1 { width: 8.333333%; }
  .col-lg-2 { width: 16.666666%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.333333%; }
  .col-lg-5 { width: 41.666666%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.333333%; }
  .col-lg-8 { width: 66.666666%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.333333%; }
  .col-lg-11 { width: 91.666666%; }
  .col-lg-12 { width: 100%; }
}

.row.reverse {
  flex-direction: row-reverse;
}

@media (max-width: 479px) {
  .row.reverse-xs {
    flex-direction: row-reverse;
  }
}

@media (min-width: 480px) and (max-width: 719px) {
  .row.reverse-sm {
    flex-direction: row-reverse;
  }
}

@media (min-width: 720px) and (max-width: 959px) {
  .row.reverse-md {
    flex-direction: row-reverse;
  }
}

@media (min-width: 960px) {
  .row.reverse-lg {
    flex-direction: row-reverse;
  }
}


/* positioning helper classes */

.center-vertical,
.center-horizontal,
.push-left,
.push-right {
  display: flex;
}

.center-vertical {
  align-items: center;
}

.center-horizontal {
  justify-content: center;
}

.push-left {
  justify-content: flex-start;
}

.push-right {
  justify-content: flex-end;
}

.upper-left,
.upper-right,
.lower-right,
.lower-left {
  position: absolute;
}

.upper-left,
.gutter-default .upper-left {
  top: 0.6rem;
  left: 0.6rem;
}

.gutter-double .upper-left {
  top: 1.2rem;
  left: 1.2rem;
}

.gutter-none .upper-left {
  top: 0;
  left: 0;
}

.upper-right,
.gutter-default .upper-right {
  top: 0.6rem;
  right: 0.6rem;
}

.gutter-double .upper-right {
  top: 1.2rem;
  right: 1.2rem;
}

.gutter-none .upper-right {
  top: 0;
  right: 0;
}

.lower-right,
.gutter-default .lower-right {
  bottom: 0.6rem;
  right: 0.6rem;
}

.gutter-double .lower-right {
  bottom: 1.2rem;
  right: 1.2rem;
}

.gutter-none .lower-right {
  bottom: 0;
  right: 0;
}

.lower-left,
.gutter-default .lower-left {
  bottom: 0.6rem;
  left: 0.6rem;
}

.gutter-double .lower-left {
  bottom: 1.2rem;
  left: 1.2rem;
}

.gutter-none .lower-left {
  bottom: 0;
  left: 0;
}


/* responsive features */
img,
iframe,
video {
  max-width: 100%;
}

/* responsive helper classes */

@media (max-width: 479px) {
  .hide-xs,
  .show-sm-only,
  .show-md-only,
  .show-lg-only {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 719px) {
  .hide-sm,
  .show-xs-only,
  .show-md-only,
  .show-lg-only {
    display: none;
  }
}

@media (min-width: 720px) and (max-width: 959px) {
  .hide-md,
  .show-xs-only,
  .show-sm-only,
  .show-lg-only {
    display: none;
  }
}

@media (min-width: 960px) {
  .hide-lg,
  .show-xs-only,
  .show-sm-only,
  .show-md-only {
    display: none;
  }
}


/* other helper classes */
.right {
  float: right;
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
}

.left {
  float: left;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
}

.clear {
  clear: both;
}

.center {
  display: block;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* image styles */
img.rounded {
  border-radius: 0.4rem;
}

img.circle {
  border-radius: 50%;
}

/* table styles */
table.table-basic {
  border-collapse: collapse;
  color: #333;
}

table.table-basic caption {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.4rem;
  text-align: center;
}

table.table-basic thead {

}

table.table-basic tbody {

}

table.table-basic tfoot {
  color: #555;
  font-size: 0.8em;
  font-style: italic;
}

table.table-basic tr {

}

table.table-basic td,
table.table-basic th {
  padding: 0.4rem 0.8rem;
}

table.table-basic th {
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}

table.table-basic td {

}

/* responsive table based on
 * http://allthingssmitty.com/2016/10/03/responsive-table-layout/
 */
 table.table-stack,
 table.table-stack-lg {
   width: 100%;
 }

 table.table-stack,
 table.table-stack-lg {
   border: none;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute !important;
   width: 1px;
 }

 table.table-stack,
 table.table-stack-lg {
   border: 1px solid #bbb;
   display: block;
   margin-bottom: 0.4rem;
   padding: 0.4rem;
 }

 table.table-stack,
 table.table-stack-lg {
   display: block;
   text-align: right;
 }

 table.table-stack,
 table.table-stack-lg {
   content: attr(aria-label);
   float: left;
   font-weight: bold;
   color: #555;
 }
}

@media screen and (max-width: 479px) {
  table.table-stack-xs {
    width: 100%;
  }

  table.table-stack-xs thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
  }

  table.table-stack-xs tr {
    border: 1px solid #bbb;
    display: block;
    margin-bottom: 0.4rem;
    padding: 0.4rem;
  }

  table.table-stack-xs td {
    display: block;
    text-align: right;
  }

  table.table-stack-xs td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
    color: #555;
  }
}

/* responsive table based on
 * http://allthingssmitty.com/2016/10/03/responsive-table-layout/
 */
 @media screen and (max-width: 719px) {
   table.table-stack-sm {
     width: 100%;
   }

   table.table-stack-sm thead {
     border: none;
     clip: rect(0 0 0 0);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute !important;
     width: 1px;
   }

   table.table-stack-sm tr {
     border: 1px solid #bbb;
     display: block;
     margin-bottom: 0.4rem;
     padding: 0.4rem;
   }

   table.table-stack-sm td {
     display: block;
     text-align: right;
   }

   table.table-stack-sm td:before {
     content: attr(aria-label);
     float: left;
     font-weight: bold;
     color: #555;
   }
 }

@media screen and (max-width: 959px) {
   table.table-stack-md {
     width: 100%;
   }

   table.table-stack-md thead {
     border: none;
     clip: rect(0 0 0 0);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute !important;
     width: 1px;
   }

   table.table-stack-md tr {
     border: 1px solid #bbb;
     display: block;
     margin-bottom: 0.4rem;
     padding: 0.4rem;
   }

   table.table-stack-md td {
     display: block;
     text-align: right;
   }

   table.table-stack-md td:before {
     content: attr(aria-label);
     float: left;
     font-weight: bold;
     color: #555;
   }
 }

table.shade-even-rows tbody tr:nth-child(even) {
  background-color: #ddd;
}

table.shade-odd-rows tbody  tr:nth-child(odd) {
  background-color: #ddd;
}


/* apply .show-gridlines to body when creating initial grid or when debugging */
.show-gridlines .row > * {
  border: 1px solid #bbb;
}
